<style>*,*:before,*:after {padding: 0;margin: 0; box-sizing: border-box;}.root { display: flex;justify-content: center; min-height: 100vh; overflow: hidden;}/* Formulario */.form-register {	width: 100%}/* body del formulario */.form-register__body {display: flex;     align-items: flex-start;}/* step */.step {min-width: 100%; opacity: 0; transition: all .2s linear;}.step.active {    opacity: 1;}.step.to-left { margin-left: -100%;}.step.inactive {animation-name: scale;animation-duration: .2s;animation-direction: alternate; animation-iteration-count: 2;}@keyframes scale {from { transform: scale(1);} to {transform: scale(1.1);}}/* header de step */.step__header {padding: 20px 15px;background-color: var(--color-header-step);border-radius: 3px 3px 0 0;}.step__title {text-align: center;}/* body de step */.step__body {padding: 20px 15px 0;}/* step inputs */.step__input {display: block;width: 100%;}/* step footer */.step__footer {padding: 20px 15px;text-align: center;}/* step botones */.step__button {display: inline-block;cursor: pointer;}</style>
	
	     
 <div class="card-body">
<form action="/usuario/registro" method="POST" class="form-register">	 
                   
                       <div class=" d-flex align-items-center no-padding">
                           <div class="col">
                               <div class="row justify-content-center">
                                   <div class="col-lg-6">
                                       <div class="card bg-tertiary text-white">
                                           <div class="card-body">

									<h4 class="heading h3 text-white pt-3 pb-5">CREA TU CUENTA REBUSCATE</h4>
																
												 
<div class="form-register__body">

<div class="step active" id="step-1">
<div class="step__header">
												  <h5 class="text-white" ><strong>Informacion basica</strong></h5>
												</div>
											<h5 class="text-white step__title"><strong>Documento de identidad</strong></h5>
 											<div class="step__body">


										  	<div class="form-group">
											  <label><strong>Numero de cedula</strong></label>
											  <input value="{{numeroCedula}}"name="numeroCedula" type="text" class="form-control" placeholder="Numero de cedula"/>
									  </div>

											<div class="form-group">
												<label><strong>Fecha de expedicion</strong></label>
												<div class="input-group mb-4">
														<input value="{{fechaExpedicion}}"name="fechaExpedicion" id="fechaExpedicion" type="text" class="form-control" placeholder="Fecha de expedicion"/>
													<div class="input-group-append">
														<span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
													</div>
												</div>
											</div>

								<div class="form-group">
                        <label><strong>Ciudad de Expedicion</strong></label>
                        <select name="ciudadExpedicion"class="form-control">
                          <option>Ciudad 1</option>
                          <option>Ciudad 2</option>
                          <option>Ciudad 3</option>
                        </select>
                    </div>	
           
								
										<h5 class="text-white step__title"><strong>Datos de identificacion</strong></h5>

											 <div class="form-group">
											  <label><strong>Nombre</strong></label>
											  <input value="{{nombre}}"name="nombre" type="text" class="form-control"  placeholder="Nombre"/>
											</div>

											 <div class="form-group">
											  <label><strong>Apellido</strong></label>
											  <input value="{{Apellido}}"name="apellido" type="text" class="form-control"  placeholder="Apellido"/>
											</div>

										 <div class="form-group">
										  <label><strong>Fecha De nacimiento</strong></label>
										  <div class="input-group mb-4">
													 <input value="{{fechaNacimiento}}"name="fechaNacimiento" type="text" id="fechaNacimiento" class="form-control" placeholder="Fecha de nacimiento"/>
												<div class="input-group-append">
														<span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
												</div>
										  </div>
										</div>
												<div class="form-group">
                        <label><strong>Ciudad de nacimiento</strong></label>
                        <select name="ciudadNacimiento"class="form-control">
                          <option>Ciudad 1</option>
                          <option>Ciudad 2</option>
                          <option>Ciudad 3</option>
                        </select>
                    </div>	
</div>
										  <div class="col-lg step__footer">
														<button type="button" class="btn btn-block btn-success btn-lg mt-4 step__button step__button--next" data-to_step="2" data-step="1">Siguiente</button>     
												</div>
</div>

<div class="step" id="step-2">
									
									<div class="step__header">
									 <h5 class="text-white" ><strong>Datos de contacto</strong></h5>
									</div>
									<h5 class="text-white step__title"><strong>Contacto personal</strong></h5>
									
									 <div class="step__body">
									 			<div class="form-group">
                        <label><strong>
                        Lugar de recidencia</strong></label>
                        <select name="ciudadRecidencia"class="form-control">
                          <option>Ciudad 1</option>
                          <option>Ciudad 2</option>
                          <option>Ciudad 3</option>
                        </select>
                    </div>	
										  <div class="form-group">
											  <label><strong>Email</strong></label>
											  <input value="{{email}}"name="email" type="email" class="form-control"  placeholder="Email"/>
											</div>
											<div class="form-group">
											  <label><strong>Telefono</strong></label>
											  <input value="{{telefono}}"name="telefono" type="text" class="form-control"  placeholder="Telefono"/>
											</div>


											<h5 class="text-white step__title"><strong>Contacto referencia</strong></h6>

											 <div class="form-group">
											 	 <label><strong>Nombre - Apellido</strong></label>
											 		<input value="{{nombreRef}}"name="nombreRef" type="text" class="form-control"  placeholder="Nombre - Apellido"/>
											</div>
											<div class="form-group">
											 	 <label><strong>Telefono</strong></label>
											  	<input value="{{telefonoRef}}"name="telefonoRef" type="text" class="form-control"  placeholder="Telefono"/></input>
											</div>

							</div>
										 <div class="col-lg step__footer">
														<button type="button" class="btn btn-block btn-success btn-lg mt-4 step__button step__button--back" data-to_step="1" data-step="2">Atras</button>     
								
														<button type="button" class="btn btn-block btn-success btn-lg mt-4 step__button step__button--next" data-to_step="3" data-step="2">Siguiente</button>     
											 </div>


</div>


<div class="step" id="step-3">
							
									<div class="step__header">
										<h5 class="text-white" ><strong>Contraseña de ingreso</strong></h5>
									</div>

									 <div class="step__body">
										<div class="form-group">
											 <label><strong>Contraseña</strong></label>
											 <input class="form-control" name="contraseña" type="password"   placeholder="Contraseña"/>
										</div>

									 <div class="form-group">
										  <label><strong>Confirmar Contraseña</strong></label>
										  <input name="contraseñaConfir" type="password" class="form-control"  placeholder="Contraseña"/>
										</div>

		 </div>								
		 									<div class="col-lg step__footer">
														<button type="button" class="btn btn-block btn-success btn-lg mt-4 step__button step__button--back" data-to_step="2" data-step="3">Atras</button>     
										
												<button type="submit" class="btn btn-block btn-success btn-lg mt-4">Registrarme</button>  
										</div>


</div>
</div>
								  </div>

								 </div>
							</div>
						</div>
					 </div>
						 </div>
				
</form>
</div>

<!-- js formulario en tres pasos-->
<script> 
let form = document.querySelector('.form-register');
//let progressOptions = document.querySelectorAll('.progressbar__option');

form.addEventListener('click', function(e) {
    let element = e.target;
    let isButtonNext = element.classList.contains('step__button--next');
    let isButtonBack = element.classList.contains('step__button--back');
    if (isButtonNext || isButtonBack) {
        let currentStep = document.getElementById('step-' + element.dataset.step);
        let jumpStep = document.getElementById('step-' + element.dataset.to_step);
        currentStep.addEventListener('animationend', function callback() {
            currentStep.classList.remove('active');
            jumpStep.classList.add('active');
            if (isButtonNext) {
                currentStep.classList.add('to-left');
                //progressOptions[element.dataset.to_step - 1].classList.add('active');
            } else {
                jumpStep.classList.remove('to-left');
                //progressOptions[element.dataset.step - 1].classList.remove('active');
            }
            currentStep.removeEventListener('animationend', callback);
        });
        currentStep.classList.add('inactive');
        jumpStep.classList.remove('inactive');
    }
});
</script>


  

